%h1 Edit/Delete Users
%table{:border =>"1", :width => "30%"}
  %tr
    %th User ID
    %th{:colspan =>"2"}Name
    %th{:colspan => "2"}Option

    - @list.each do |user|
      %tr
        %td 
          = user.id
        %td 
          = user.first_name
        %td 
          = user.last_name  
        %td
          = link_to "Edit", edit_user_path 
        %td
          = link_to "Delete", user_path(user), method: "delete" 

%button
  = link_to "Dashboard", admin_index_path
   
  / =link_to "Select Rides", rides_url
  / %br
  / %br
  / =link_to "Go back", new_user_url

